<!DOCTYPE html SYSTEM
  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="ja">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/2.1.8/semantic.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>

  <script th:src="@{/webjars/jquery/2.2.0/jquery.min.js}"></script>
  <script th:src="@{/webjars/Semantic-UI/2.1.8/semantic.min.js}"></script>
  <script th:src="@{/lib/jquery.sliphover.min.js}"></script>

  <title>ユーザ編集</title>
  <link rel="stylesheet" href="/lib/Semantic-UI/2.1.8/semantic.min.css"/>
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/Semantic-UI/2.1.8/semantic.min.js"></script>
</head>
<body>
<div class="ui text container">
  <div colspan="4">
    <a th:href="@{/logout}"><div class="ui right floated small red labeled icon button"><i class="sign out icon"></i>ログアウト</div></a>
  </div>
  <h2 class="ui header aligned blue">編集</h2>
  <form class="ui horizontal form" method="post" th:action="@{/users/edit/{id}(id=${user.id})}" th:object="${form}">
    <div class="field" th:classappend="${#fields.hasErrors('name')}? has-error">
      <label class="ui blue header"><i class="user icon"></i>名前</label>
      <div class="ui input" th:classappend="${#fields.hasErrors('name')}? 'error'">
        <input type="text" th:field="*{name}" name="" placeholder="名前" />
      </div>
      <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</p>
    </div>
    <div class="field" th:classappend="${#fields.hasErrors('age')}? has-error">
      <label class="ui blue header"><i class="birthday icon"></i>年齢</label>
      <div class="ui input" th:classappend="${#fields.hasErrors('age')}? 'error'">
        <input type="text" th:field="*{age}" name="" placeholder="年齢" />
      </div>
      <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}">エラーメッセージ</p>
    </div>
    <div class="field" th:classappend="${#fields.hasErrors('gender')}? has-error">
      <label class="ui blue header"><i class="male icon"></i>性別</label>
      <select class="ui search dropdown" th:field="*{gender}">
        <option value="">性別を選択</option>
        <option th:each="gender : ${genders}" th:text="#{|user.field.gender.${gender}|}" th:value="${gender}"></option>
      </select>
      <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">エラーメッセージ</p>
    </div>
    <div class="field" th:classappend="${#fields.hasErrors('address.zip')}? has-error">
      <label class="ui blue header" th:text="#{address.field.zip.label}"><i class="birthday icon"></i>郵便番号</label>
      <div class="ui input" th:classappend="${#fields.hasErrors('address.zip')}? 'error'">
        <input type="text" th:field="*{address.zip}" name="" placeholder="郵便番号" />
      </div>
      <p th:if="${#fields.hasErrors('address.zip')}" th:errors="*{address.zip}">エラーメッセージ</p>
    </div>
    <div class="field" th:classappend="${#fields.hasErrors('address.prefecture')}? has-error">
      <label class="ui blue header" th:text="#{address.field.prefecture.label}"><i class="birthday icon"></i>都道府県</label>
      <div class="ui input" th:classappend="${#fields.hasErrors('address.prefecture')}? 'error'">
        <input type="text" th:field="*{address.prefecture}" name="" placeholder="都道府県" />
      </div>
      <p th:if="${#fields.hasErrors('address.prefecture')}" th:errors="*{address.prefecture}">エラーメッセージ</p>
    </div>
    <button class="ui primary button" type="submit">保存</button>
    <a type="button" th:href="@{/users}" class="ui button" tabindex="0">キャンセル</a>
  </form>
</div>
</body>
</html>